<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Blog App</h1>
  <p class="lead">
    ここは、ブログアプリのホームページです。
  </p>
  <%= link_to "サインアップ", new_user_registration_path,
  class: "btn btn-lg btn-primary" %>
</div>
