<% if user_signed_in? %>
  <div class="jumbotron jumbotron-fluid border border-danger">
    <h1 class="display-3">Blog App</h1>
    <p class="lead">
      ブログアプリへようこそ！！
    </p>
  </div>
<% else %>
  <div class="jumbotron jumbotron-fluid border border-danger">
    <h1 class="display-3">Blog App</h1>
    <p class="lead">
      ここは、ブログアプリのホームページです。
    </p>
    <%= link_to "サインアップ", new_user_registration_path,
    class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 border border-primary">
      col-8
    </div>
    <%# サイドバー ここから %>
    <div class="col-sm-4 border border-success">
      <div class="d-flex flex-column">
        <%= render 'layouts/side_var' %>
      </div>
    </div>
    <%# サイドバー ここまで %>
  </div>
</div>
