<%# <p> %>
  <%# <strong>コメンター：</strong> %>
  <%# <%= comment.commenter %>
<%# </p> %>

<p>
  <strong>コメント本文：</strong>
  <%= comment.body %>
</p>

<%# 下記リンクをクリックすると DELETE /articles/:article_id/comments/:id  %>
<%# というリクエストが CommentsController に送信されます。 %>
<p>
  <%= link_to 'コメント削除', [ comment.article, comment ],
              method: :delete,
              data: { confirm: '本当に削除しますか？' } %>
</p>
