<p>
  <strong>コメンター：</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>コメント本文：</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'コメント削除', [ comment.article, comment ],
              method: :delete,
              data: { confirm: '本当に削除しますか？' } %>
</p>
