<%# CommentsControllerのcreateアクションを呼び出すことでコメントを新規作成 %>
<%# form_with呼び出しで配列を1つ渡す。これは /articles/1/comments のような %>
<%# 「ネストしたルーティング」を生成する。 %>

<%= form_with(model: [ @article, @article.comments.build ],
              local: true, class: 'form-group') do |form| %>

  <%= form.label :body, 'コメント本文：' %><br>
  <div class="row">
    <div class="col">
      <%= form.text_area :body, :class => 'form-control mb-2',
          :placeholder => 'コメントを入力', :rows => '5' %>
    </div>
  </div>
  <%= form.submit %>
<% end %>
