<% provide(:title, "記事の一覧") %>

<div class="container">
  <div class="row my-2">
    <h1>記事の一覧</h1>
  </div>
  <div class="row justify-content-end">
    <%= link_to '記事を投稿する', new_article_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<%= render 'articles/list_of_articles', articles: @articles %>
