@import "bootstrap";

/* mixins, variables, etc. */

/* universal */

body {
  margin: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

// .topimage {
//   display: block;
//   width: 100%;
//   height: auto;
// }

/* header */

/* footer */

/* article index */
