<footer class="py-4 bg-dark text-light">
  <div class="container text-center">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item">
        <a class="nav-link" href="#">リンク1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">リンク2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">リンク3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">リンク4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">リンク5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">リンク6</a>
      </li>
    </ul>
  </div>
</footer>
