<div class="container">
  <div class="row">
    <div class="col">
      <% flash.each do |key, value| %>
        <%# タイムアウト時にメッセージにtrueが表示されないようにする %>
        <% next if key == 'timedout' %>
        <div class="alert alert-<%= bootstrap_class_for(key) %> alert-dismissible fade show" role="alert">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
