<%# サイドバー パーシャル %>
<nav class="navbar navbar-light bg-white border border-success my-2">
  <%# <%= form_with url: 'articles_path', method: :get, local: true, class: 'form-group' do |form| %>
    <%# <%= form.label '検索キーワード：', class: 'form-control' %>
    <%# <%= form.text_field class: 'form-control', placeholder: '検索キーワード' %>
    <%# <%= form.submit '検索', class: 'form-control btn btn-outline-success' %>
  <%# <% end %>
  flexアイテム1
</nav>

<div class=" border border-success my-2">flexアイテム2</div>

<div class=" border border-success my-2">flexアイテム3</div>
