<%# サイドバー パーシャル %>
<nav class="navbar navbar-light bg-white border border-success my-2">
  <form class="form-inline">
    <input class="form-controll mr-sm-2" type="search"
    placeholder="検索キーワード" aria-label="検索キーワード">
    <button class="btn btn-outline-success my-2 my-sm-0"
    type="submit">検索</button>
  </form>
</nav>

<div class=" border border-success my-2">flexアイテム2</div>

<div class=" border border-success my-2">flexアイテム3</div>
